<section class="lateral-menu col-lg-3 col-md-4 col-xs-s">
  <div class="oc">
    <img src="https://firebasestorage.googleapis.com/v0/b/dgstore-5a880.appspot.com/o/gloria-logo.png?alt=media&token=d880b16b-1985-46d2-bd29-f1a9f116ffa0" alt="Dgstore">
    <h5>La tienda de doña gloria</h5>
  </div>
</section>
<section class="box col-lg-9 <col-md-6></col-md-6> col-xs-6">
    <div *ngFor="let prod of product | async " class="card col-lg-4 col-md-4 col-xs-6">
      <div class="image">
        <img class="img-responsive" [src]="prod.productImage" alt="Avatar">
      </div>
      <div class="container">
        <h4><b>{{prod.productName}}</b></h4> 
        <p>
          precio: ${{prod.productPrice}}
          cantidad: {{prod.productCant}}  
        </p> 
      </div>
       <button (click)="method(prod.productPrice, prod.productCant, prod.$key)" class="btn">Seleccionar</button>
    </div>
</section>
